* {
    background-attachment: fixed;
    font-family: 'Courgette', cursive;
}
body {
    background-image: linear-gradient(to top, #D4440B, #D47F0B);
}
main {
    margin: auto;
    width: 600px;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    box-shadow: 2px 2px 2px black;
}
h1 {
    text-align: center;
    padding: 8px;
}
h2 {
    text-indent: 20px;
}
img {
    padding: 8px;
    
}