@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');


* {
    margin: 0px;
    padding: 0px;
}
body {
    background-image: url('midia/fundo.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: 'Varela Round', sans-serif;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 40px;
    margin-bottom: 30px;
}
header > h1 {
    font-family: 'League Gothic', sans-serif;
    font-size: 3.5em;
}
.container {
    max-width: 1200px;
    margin: 0 auto;

    display: grid;
    grid-template-areas: 
    "sidenave item item"
    "sidenave item item"
    "sidenave item item";
    grid-gap: 20px;

    
}
img {
    width: 100%;
    border-radius: 20px;
}
.sidenave {
    max-width: 300px;
    min-width: 200px;
    height: 700px;
    background-color: #333;
    border-radius: 20px;
    grid-area: "sidenave";
    grid-row: sidenave;
}
.item {
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.322);
    max-width: 300px;
    min-width: 200px;
    height: 300px;
    background-color: #333;
    border-radius: 20px;

    grid-area: "item";
}
.item > p {
    text-align: center;
    color: white;
}
.num {
    padding: 10px;
    font-family: 'Inconsolata', monospace;
}
h2 {
    
    text-align: center;
    padding: 20px;
    color: white;
}
li {
    padding: 20px;
    color: white;
    list-style-position: inside;
    list-style-type: '\1F517\00A0\00A0';
}
li.home {
    list-style-type: '\1F3E0\00A0\00A0';
}
a {
    text-decoration: none;
    color: white;
}
li:hover {
    background-color: rgba(255, 255, 255, 0.178);
    transition: 0.7s;
    border-radius: 10px;
}
a:hover {
    text-decoration: underline;
    
}
a:visited {
    color: white;
}
footer {
    margin-top: 30px;
    padding: 10px;
    background-color: black;
    color: white;
    text-align: center;
}
footer > p {
    font-style: italic;
}

@media screen and (max-width: 960px) {
    .container {
        grid-template-areas: 
        "sidenave item"
        "sidenave item"
        "sidenave item"
        "sidenave item"
        "sidenave item"
        "sidenave item";
        grid-gap: 20px;
    }
}

@media screen and (max-width: 480px) {
    header > h1 {
        font-size: 5vh;
    }
    h2 {
        font-size: 3.3vh;
    }
    li {
        font-size: 2.2vh;
    }
    .sidenave {
        height: 300px;
    }
    .container {
        grid-template-areas: 
        "sidenave"
        "item"
        "item"
        "item"
        "item"
        "item";
        grid-gap: 20px;
        justify-content: center;
    }
    footer {
        padding: 5px;
    }
    footer > p {
        font-size: .7em;
    }
}