
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root{
    --font-destaque:'Passion One', sans-serif;
    --font-normal: 'Sriracha', cursive;
}

*{
    margin: 0;
    padding: 0;
}
html, body{
    min-height: 100vh;
}
header {
    background-color: black;
    color: white;
    text-align: center;
    max-height: 300px;
}
header > h1{
    padding-top: 50px;
    font-family: var(--font-destaque);
    font-size: 10vw;
}
header > p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 20px;
    font-size: 3vh;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: underline;
}
main  p{
    padding-left: 30px;
    text-align: justify;
    font-family: var(--font-normal);
    font-size: 4vh;
}
section {
    font-size: 5vw;
}
.p1{
    padding-top: 80px;
    height: 500px;
}
.p2{
   background-image: url(imagens/background001.jpg);
   background-repeat: no-repeat;
   background-position: right center;
   background-size: cover;
   background-attachment: fixed;
   height: 500px;
   padding-top: 80px;
   box-shadow: inset 6px 13px 0px rgba(0, 0, 0, 0.247);
}
.p2 p {
    
    background-color: rgba(0, 0, 0, 0.514);
    width: 400px;
    color: white;
    margin-left: 10px;
    border-radius: 6px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.121);


    /*margin-top: 10vh;
        background-color: rgba(0, 0, 0, 0.284);
        border-radius: 10px;   >>>  "ISSO FOI OQ ERREI"  <<<
        color: white;
        width: 400px;
        margin-top: 70px;
        left: 25px;
    */

}

    
.p4{
    height: 500px;
    padding-top: 80px;
}
.p5{
    padding-top: 80px;
    height: 500px;
    background-image: url(imagens/background002.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.419);
}
.p5 p {
    background-color: rgba(0, 0, 0, 0.514);
    color:white;
    width: 400px;
    margin-left: 10px;
    border-radius: 8px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.252);
}
.p6{
    padding-top: 80px;
}
.p7{
    padding-top: 80px;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    font-family: var(--font-normal);
}
span{
    text-decoration: underline;
}