@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    margin: 0;
    padding: 0;
}
:root{
    --font-padrao:"Open Sans", sans-serif;
}
body{
    font-family: var(--font-padrao);
    height: 100vh;
    background-color: black;
}
main{
    display: grid;
    width: 800px;
    background: #212233;
    color: white;
    transition: width .3s, height .3s;
   transition-timing-function: ease;
}
.login h1 {
    padding: 10px;
    text-align: center;
}
.imagem{
    background-image: url(../midia/cartoon.jpg);
    
}
.senha, .email{
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.111);
    border-bottom: 1px solid rgba(255, 255, 255, 0.111);
}
#ilogin{
   height: 25px;
   border-radius: 10px;
   border: none;         
}
#isenha{
    height: 25px;
    border-radius: 10px;
    border: none;
}
.bt-entrar{
    font-family: var(--font-padrao);
    display: block;
    margin: auto;
    width: 200px;
    height: 40px;
    margin-top: 10px;
    border-radius: 12px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.164);
   border: none;
}
.bt-entrar:hover{
    background-color: #393A46;
    color: white;
    cursor: pointer;
    transition: .2s;
    
}
#remember{
    display: block;
    text-align: center;
    background-color:  #505162;
    width: 200px;
    margin: auto;
    margin-top: 10px;
    padding-top: 11px;
    border-radius: 12px;
    height: 40px;
    border: 1px solid rgba(255, 255, 255, 0.273);
}
#remember:hover{
    background:  #393A46;
    cursor: pointer;
    /* padding: 5px 5px 5px 5px; */
    transition: .2s;

}
#remember:active{
    background-color: rgb(142, 163, 185);
}
