*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    padding: 20px;
    background-color: #333;
}
h1 {
    margin-top: 20px;
    color: white;
    text-align: center;
}
.menu {
    margin: auto;
    background-color: #333;
    list-style-type: none;
    padding: 0px;
}
.menu ul {
    max-width: 800px;
    margin: auto;
}
.menu ul li {
    display: inline;
}
.menu ul li a {
    color: white;
    padding: 20px;
    text-decoration: none;
    display: inline-block;
}
.menu ul li a:hover {
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.219);
    transition: 0.7s;
}
.menu ul li:last-child a {
    float: right;
}
main.container {
    background-color: #333;
    margin-left: 80px;
    margin-top: 10px;
    max-width: 1200px;
    height: 800px;

    display: grid;
    grid-template-areas: 
    "article article"
    "section section";
}
article.item {
    border: 1px solid black;
    margin: 10px 10px 10px 10px;
    background-color: white;
    width: 300px;
    height: 300px;

    grid-area: "article";
}
section.item {
    margin: auto;
    background-color: white;
    width: 800px;
    height: 300px;
}